[data-organism-aside="asidechapters"]
  width                                 : WIDTH = (3.4 * U) !important
  background-color                      : WHITE !important
  box-shadow                            : inset -1px 0 BACKGROUND_STUDIO
  [data-molecule-navigation]
    [data-atom-button]
      margin                            : 0 !important
      width                             : WIDTH
      height                            : WIDTH
      background-color                  : transparent !important
      box-shadow                        : 0 1px BACKGROUND_STUDIO
      abbr
        color                           : DARK
      &:hover, &:active
        background-color                : BACKGROUND_STUDIO !important
