[data-organism-aside="asidechapters"]
  width                           : WIDTH = (4 * U) !important

  [data-molecule-navigation]
    [data-atom-button]
      margin                      : 0 !important
      width                       : WIDTH
      height                      : WIDTH
