[data-organism-aside="asidechapters"]
  width                                 : WIDTH = (4 * U) !important
  background-color                      : WHITE !important
  box-shadow                            : inset -1px 0 darken(BACKGROUND, 5%)
  [data-molecule-navigation]
    [data-atom-button]
      margin                            : 0 !important
      width                             : WIDTH
      height                            : WIDTH
      background-color                  : transparent !important
      box-shadow                        : 0 1px darken(BACKGROUND, 5%)
      abbr
        color                           : DARK
      &:hover, &:active
        background-color                : darken(BACKGROUND, 5%) !important

